es-space-mgmt/main/default/flows/createReservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Open Reservation</description>
        <name>openReservationSubtab</name>
        <label>openReservationSubtab</label>
        <locationX>804</locationX>
        <locationY>565</locationY>
        <actionName>c:openRecordAction</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sobject</name>
            <value>
                <elementReference>ReservationAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReservationId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <constants>
        <description>Contact</description>
        <name>Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>Lead</description>
        <name>Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <description>Reservation name</description>
        <name>ReservationAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservation__c </stringValue>
        </value>
    </constants>
    <decisions>
        <description>making decision</description>
        <name>assignCustomerLookup</name>
        <label>assignCustomerLookup</label>
        <locationX>785</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContactReservation</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLeadReservation</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <description>Create reservation form for customer</description>
    <formulas>
        <description>Calculate End Date</description>
        <name>calcEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varStartDate}+{!varResLength}</expression>
    </formulas>
    <interviewLabel>createReservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createReservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContactReservation</name>
        <label>createContactReservation</label>
        <locationX>933</locationX>
        <locationY>297</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create reservation record for lead</description>
        <name>createLeadReservation</name>
        <label>createLeadReservation</label>
        <locationX>661</locationX>
        <locationY>305</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference>updateLead</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordUpdates>
        <description>update the contact record related here</description>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>931</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reservation_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Lead status after creating the Reservation for this lead.</description>
        <name>updateLead</name>
        <label>updateLead</label>
        <locationX>661</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working - Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Using LWC component reservationHelperForm for customer reservations</description>
        <name>CustomerDetails</name>
        <label>CustomerDetails</label>
        <locationX>584</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCustomerLookup</targetReference>
        </connector>
        <fields>
            <name>reservationHelperForm</name>
            <extensionName>c:reservationHelperForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customerid</name>
                <value>
                    <elementReference>varRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objecttype</name>
                <value>
                    <elementReference>varSobjectType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>varState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMarket</assignToReference>
                <name>requestedMarket</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varNoOfGuests</assignToReference>
                <name>numberOfPeople</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varResLength</assignToReference>
                <name>endDays</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CustomerDetails</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varMarket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoOfGuests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store Reservation Id created here</description>
        <name>varReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSobjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
